
    <style>


    /* Carousel base class */
    .carousel {
      margin-top: 100px;
      margin-bottom: 60px;
    }

    .carousel .container {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .carousel-control {
      background-color: transparent;
      border: 0;
      font-size: 200px;
      margin-top: 0;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }

    .carousel img {
      min-width: 100%;
      height: 200px;
      
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-bottom: 20px;
    }
    .carousel-caption h2,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #000;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-bottom: 40px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }

 .modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 420px;
  height:315px; 
  position: relative;
  margin: 10% auto;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

-webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;

ul
{
  width: 100%;
  padding: 0;
  margin: 0 0 2em 0;
  list-style-type: none;
}
 
li
{
  float: left;
  width: 25%;
  padding: 0;
  margin: 0;
  background-color: #FFF;
  border: 10px solid #fff;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

#element
{
    position: relative;
    height: 0;
    padding: 56.25% 0 0 0;
}

li a
{
  display: block;
  width: 100%;
  position: relative;
  height: 0;
  padding: 56.25% 0 0 0;
  overflow: hidden;
}
 
li a img
{
  position: absolute;
  display: block;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->




 <div class="featurette">
<center><h2 class="featurette-heading">Fetured Client</h2></center>

<ul>
  <li><a><img src="images/clients/alarmy.jpg"/></a></li>
    <li><a><img src="images/clients/logo.jpg"/></a></li>
  <li><a><img src="images/clients/unnamed.png"/></a></li>
  <li><a><img src="images/clients/nine.jpg"/></a></li>

</ul>
</div>




<div id="createEntity" class="modalDialog">
  <div>
    <a href="#close" onclick="stopVideo()" title="Close" class="close">X</a>
    <div id="player"></div>
  </div>
</div>



      <div class="featurette" style="background-color: ivory">
      <ul style="background-color:ivory;">
        <li style="background-color:ivory; border: 10px solid ivory;"><a><img  src="images/bug_report.png"></img></a>
          <h2 class="featurette-heading">Powerful Log!</h2>
            <p class="lead">웹 서버에서 실시간으로 사용자가 보내온 로그 정보를 받아 볼 수 있습니다. 클라이언트 소스와 함께 제공되는 AppEngine을 이용 할수도 있고 사용자가 클라이언트에서 직접 구현하여 다른 서버에서도 로그 정보를 받아 올 수 있게 컨트롤 할 수 있습니다.</p></li>
        <li style="background-color:ivory; border: 10px solid ivory;"><a><img  src="images/chart_spreadsheet.png"></img></a>
                      <h2 class="featurette-heading">Google Docs 연동</h2>
              <p class="lead">구글 Docs와 연동하여 자세한 정보를 찾아볼 수 있습니다.</p></li>
        <li style="background-color:ivory; border: 10px solid ivory;"><a><img  src="images/preview.png"></img></a>
                    <h2 class="featurette-heading">100+ Visualization through the Web!</h2>
             <p class="lead">UrQA에서 제공하는 AppEngine을 이용하면 에러 리포트정보를 가시화 시켜서 한눈에 어떤 에러와 어떤 정보들이 많이 들어 왔는지 쉽게 알 수 있습니다. UrQA의 강력한 Visualization기능을 맛보세요</p></li>
        <li style="background-color:ivory; border: 10px solid ivory;"><a><img  src="images/proguard.gif"></img></a>
                      <h2 class="featurette-heading">ProGuard Android 지원</h2>
              <p class="lead">더이상의 소스보안은 끝. UrQA는 ProGuard를 지원합니다.</p></li>
      </ul>
     </div>



        <div class="row">
        
          <div class="col-md-12">
           <h2 class="featurette-heading">Who We Are!!</h2> 
            <ul>
              <li><a><img src="http://res.cloudinary.com/dobny9ati/image/facebook/w_220,h_220,c_fill,g_face,r_max/1181257851.jpg"></img></a>
                <center>
                황학범<br>
                Favorite Medium
                 </center>
                <ul>
                  <li> <a href="#"><img src="images/social/facebook.png"></img></a></li>
                  <li><a href="#"><img src="images/social/linkedin.png"></img></a></li>
                  <li><a href="#"><img src="images/social/google_plus.png"></img></a></li>
                </ul>
              </li>
              <li><a><img src="http://res.cloudinary.com/dobny9ati/image/facebook/w_220,h_220,c_fill,g_face,r_max/1680549739.jpg"></img></a>
                <center>
                김현종<br>
                Gumi Korea
                 </center>
                <ul>
                  <li> <a href="#"><img src="images/social/facebook.png"></img></a></li>
                  <li><a href="#"><img src="images/social/linkedin.png"></img></a></li>
                  <li><a href="#"><img src="images/social/google_plus.png"></img></a></li>
                </ul>
              </li>
                </li>
              <li><a><img src="http://res.cloudinary.com/dobny9ati/image/facebook/w_220,h_220,c_fill,g_face,r_max/1233102578.jpg"></img></a>
                <center>
                손영수<br>
                NHN NEXT
                 </center>
                <ul>
                  <li> <a href="#"><img src="images/social/facebook.png"></img></a></li>
                  <li><a href="#"><img src="images/social/linkedin.png"></img></a></li>
                  <li><a href="#"><img src="images/social/google_plus.png"></img></a></li>
                </ul>
              </li>
                </li>
              <li><a><img src="http://res.cloudinary.com/dobny9ati/image/facebook/w_220,h_220,c_fill,g_face,r_max/1184344295.jpg"></img></a>
                <center>
                백승용<br>
                Coupang
                 </center>
                <ul>
                  <li> <a href="#"><img src="images/social/facebook.png"></img></a></li>
                  <li><a href="#"><img src="images/social/linkedin.png"></img></a></li>
                  <li><a href="#"><img src="images/social/google_plus.png"></img></a></li>
                </ul>
              </li>
                </li>
              <li><a><img src="http://res.cloudinary.com/dobny9ati/image/facebook/w_220,h_220,c_fill,g_face,r_max/100001850477769.jpg"></img></a>
                <center>
                양현철<br>
                KAIST
                 </center>
                <ul>
                  <li> <a href="#"><img src="images/social/facebook.png"></img></a></li>
                  <li><a href="#"><img src="images/social/linkedin.png"></img></a></li>
                  <li><a href="#"><img src="images/social/google_plus.png"></img></a></li>
                </ul>
              </li>
                </li>
              <li><a><img src="http://res.cloudinary.com/dobny9ati/image/facebook/w_220,h_220,c_fill,g_face,r_max/519557264.jpg"></img></a>
                <center>
                유성우<br>
                KTDS
                 </center>
                <ul>
                  <li> <a href="#"><img src="images/social/facebook.png"></img></a></li>
                  <li><a href="#"><img src="images/social/linkedin.png"></img></a></li>
                  <li><a href="#"><img src="images/social/google_plus.png"></img></a></li>
                </ul>
              </li>
                </li>
            </ul>
          </div>
        </div>


        <div class="row" style="background-color: ivory">
          <div class="col-md-12">
            <h2 class="featurette-heading">Contact Us</h2>
            <p class="lead">항상 열려있습니다. 어디든 인터넷만 되는곳이면 여려분들의 의견을 기다립니다.</p>
                      <a href="https://www.facebook.com/groups/1398899177025363/"  style="text-decoration: none"><img src="images/social/facebook.png"></img>Facebook UserGroup</a><br>
          <a href="https://groups.google.com/forum/#!forum/urqagroup"  style="text-decoration: none"><img src="images/social/google_plus.png">Google User Gorup</img></a><br>
          <a href="https://github.com/orgs/UrQA"  style="text-decoration: none"><img src="images/social/github.png">URQA Github Page</img></a>
          </div>
          <div class="col-md-6">


          </div>
        </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
<script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '315',
          width: '420',
          videoId: 'TEwS0c1shdU',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 1);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>
