- import urqa.action._

!!! 5
html
  head
    != antiCsrfMeta
    != xitrumCss

    meta(content="text/html; charset=utf-8" http-equiv="content-type")
    title URQA

    link(type="image/vnd.microsoft.icon" rel="shortcut icon" href={publicUrl("favicon.ico")})

    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/bootstrap-theme.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/bootstrap-theme.min.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/bootstrap.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/bootstrap.min.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/bootstrap.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/bootstrap.min.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/navbar.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/carousel.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/bootstrap-formhelpers.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/bootstrap-formhelpers.min.css")})

  body

    |<div style="background-image:url(images/background_50.png); background-repeat:no-repeat; max-width:100%; max-height:100%; z-index: -1; ">
    |<div>
    |   <br>&nbsp&nbsp<a href="http://ur-qa.com"><img src = "images/UrQA.png" style="width:135px;"></img></a>
    |</div>
    |      <div class="featurette">
    |           <div class="row">
    |               <div class="col-md-1"></div>
    |               <div class="col-md-6">
    |                   <h2 class="featurette-heading">No More Bugs! </h2>
    |                   <p class="lead">클라이언트에서 에러가 날때 서버로 버그 리포트를 전송합니다. 웹에서 정보를 받아서 처리 할수도 있고 사용자가 직접 서버에 연결 할 수도 있습니다. UrQA만의 강력한 에러 리포트 기능을 느껴 보세요</p>
    |                  <button class="btn btn-default">
    |                       <a href="#createEntity" style="text-decoration: none">Quick Tour</a>
    |                    </button>
    |                  &nbsp&nbsp&nbsp&nbsp
    |                   <button class="btn btn-active"><a href="#login" style="text-decoration: none">Join us</a>
    |                   </button>
    |               </div>
    |           </div>
    |       </div>
    | <div style="height:100px;"><p></div>
    |</div>
    .container
    #flash
    !~ jsRenderFlash()
    != renderedView
    != jsDefaults
    != jsForView
    |    <p>&copy; 2013 UrQA,  Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    |<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    |<script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
    |<script type="text/javascript" src="/js/vendor/bootstrap-dropdown.js"></script>
    |<script src="/js/jquery.js" ></script>
    |<script src="js/bootstrap-formhelpers.js" ></script>
    |<script src="js/bootstrap-formhelpers.min.js" ></script>
    |<script src="js/bootstrap.min.js"></script>
    |<script src="js/bootstrap.js"></script>
    |<script type="text/javascript" src="/js/vendor/bootstrap-dropdown.js"></script>
    |<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    |<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    |<script src="js/holder.js"></script>
    |<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>