|<div id="myCarousel" class="carousel slide" data-ride="carousel">
| <ol class="carousel-indicators">
|   <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
|   <li data-target="#myCarousel" data-slide-to="1"></li>
|   <li data-target="#myCarousel" data-slide-to="2"></li>
| </ol>
| <div class="carousel-inner">
|   <div class="item active">
|     <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:URQA">
|     <div class="container">
|       <div class="carousel-caption">
|         <h1>로그인 하세요.</h1>
|         <p class="lead">서비스를 사용하시거나 . 문의 상담을 원하시면 회원 가입후 로그인 하세요. 회원가입은 아주 간단합니다.</p>
|         <p><a class="btn btn-lg btn-primary" href="/login" role="button">로그인 하기</a></p>
|       </div>
|     </div>
|   </div>
|   <div class="item">
|     <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:URQA">
|     <div class="container">
|       <div class="carousel-caption">
|         <h1>자체적으로 구축하세요</h1>
|         <p>깃헙 페이지에 방문하시면 자체적으로 구축이 가능합니다.</p>
|         <p><a class="btn btn-lg btn-primary" href="https://github.com/UrQA" role="button">더 알아보기</a></p>
|       </div>
|     </div>
|   </div>
|   <div class="item">
|     <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:URQA">
|     <div class="container">
|       <div class="carousel-caption">
|         <h1>질문이 있으신가요?</h1>
|         <p>개발자 커뮤니케이션을 통해 질의응답이 가능합니다.</p>
|         <p><a class="btn btn-lg btn-primary" href="https://groups.google.com/forum/#!forum/urqagroup" role="button">그룹스 방문하기</a></p>
|       </div>
|     </div>
|   </div>
| </div>
| <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
| <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
|</div>
.container
  .row
    .col-md-12
| This is a new
a(href="http://ur-qa.com") URQA
| project
